@{
    ViewData["Title"] = "Home Page";
}
@model OMDB_Searcher.Models.ViewModels.UserViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="log-in">

    @Html.TextBoxFor(m => m.User.Name)
    @Html.TextBoxFor(m => m.User.Password)

    @using (Html.BeginForm())
    {
        <input type="button" class="button1" value="Zaloguj" onclick="location.href='@Url.Action("Login", "Home")'"/>
    }
</div>

